{% extends 'base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to the Employee Detail page </h1></p>
    <h2>Employee details:</h2>
    <p>Name: {{employee.name}}</p>
    <p>Designation: {{employee.designation}}</p>
    <p>Department: {{employee.department}}</p>

    <div class="container">

            
        <button>
            <a href="{% url 'EmpRecord:employee_update' pk=employee.id %}">Update</a>
        </button>
    
         <button type="submit"><a href="{% url 'EmpRecord:employee_delete' employee.id %}">Delete Employee</a></button>
    </div>
    
        
{% endblock %}
